<div id="<%= dom_id library %>">


  <p>
    <strong>Name:</strong>
    <%= library.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= library.address %>
  </p>

  <p>
    <strong>Year of creation:</strong>
    <%= library.year_of_creation %>
  </p>

</div>
